button {
    display: block;
    width: 70%;
    margin: 1em auto;
    height: 2em;
    background-color: #121239;
    border-color: white;
    color: white;
    font-size: 1.1rem;
    border-radius: 30px;
  }
a {
    color: #dfdfe2;
    text-decoration: none;
  }